<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eriochrome.bartime">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vistas.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vistas.DistincionDeUsuarioActivity" />
        <activity android:name=".vistas.ListadosActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".vistas.AgregarBarUsuarioActivity" />
        <activity android:name=".vistas.PaginaBarActivity" />
        <activity android:name=".vistas.BarControlActivity" />
        <activity android:name=".vistas.ConfirmarNuevoBarActivity" />
        <activity android:name=".vistas.AgregarBarOwnerActivity" />
        <activity android:name=".vistas.ContactoActivity" />
        <activity android:name=".vistas.EditarBarActivity" />

    </application>

</manifest>